   <option value="Arte">Arte</option>
   <option value="Geografía">Geografía</option>
   <option value="Ciencia">Ciencia</option>
   <option value="Historia">Historia</option>
   <option value="Otro">Otro</option>